.label {
  border-radius: 10px;
  min-width: 40px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #DB4437;
  text-align: center;
  color: #fff;
}

.gridHeader {
  background-color: #0292B1;
  padding-left: 20px;
  border-radius: 10px;
  color: #fff;
}
